<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic&amp;subset=latin,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mrs+Saint+Delafield&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- FontAwesome -->
    <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Styles -->
    <link href="stylesheets/application.css" rel="stylesheet" type="text/css" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>News | Rely | Lawyer HTML Template</title>
  </head>
  <body class="news no-header-info-bar">
    <header id="header" class="bbx-nav bbx-nav-dark-text bbx-nav-white-background bbx-nav-dark-sub-menu" data-on-scroll-style="none">
      <!-- Do not remove the container, as some javascript might fail, just leave empty if not needed -->
      <div class="bbx-info-bar-container">
      </div>
      <nav>
        <a id="bbx-mobile-menu-button" href="#">
          <span></span>
        </a>
        <a href="index.html" class="bbx-logo">
          <img class="bbx-logo-light" src="images/logo-r-peter-river.png" alt="logo image">
          <img class="bbx-logo-default" src="images/logo-r-peter-river.png" alt="logo image">
        </a>
        <div class="bbx-logo-extra-text">
          <p class="bbx-meta bbx-no-margin">
            <!--<i class="fa fa-phone transparent-text-white" style="margin-right:12px;"></i> 215-564-4312-->
            <!--RELY - -->Lawyer HTML Template
        </p>
        </div>
        <ul class="prime-nav">
          <li class=""><a href="index.html">Home</a></li>
          <li class=""><a href="about-us.html">About Us</a></li>
          <li class=""><a href="clients.html">Clients</a></li>
          <li class=""
        ><a href="#">Pages</a>
            <ul class="sub-menu">
              <li class=""><a href="attorneys.html">Attorneys</a></li>
              <li class=""><a href="single-attorney.html">Single Attorney</a></li>
              <li class=""><a href="testimonials.html">Testimonials</a></li>
              <li class=""><a href="practices.html">Practices</a></li>
              <li class=""><a href="gallery.html">Gallery</a></li>
              <li class=""><a href="contact.html">Contact</a></li>
              <li class=""><a href="faq.html">FAQ</a></li>
              <li class=""><a href="error.html">404</a></li>
            </ul>
          </li>
          <li class="current-menu-item"><a href="news.html">News</a></li>
          <li class="nav-burger-button"><a class="bbx-fullscreen-popup" data-popup-target-content="#bbx-full-screen-popup-sidebar-container" href="#"><i class="fa fa-bars"></i></a></li>
          <li class="nav-search-button"><a href="#" class="bbx-fullscreen-popup" data-popup-target-content="#bbx-header-search-form-container"><i class="fa fa-search"></i></a></li>
        </ul>
      </nav>
    </header>
    <nav id="bbx-mobile-menu">
      <ul id="prime-nav-mobile" class="prime-nav-mobile-list">
        <li class="menu-item menu-item-has-children" style="overflow: hidden;">
          <a href="index.html">Home</a>
        </li>
        <li class="menu-item">
          <a href="about-us.html">About Us</a>
        </li>
        <li class="menu-item">
          <a href="clients.html">Clients</a>
        </li>
        <li>
          <a href="#">Pages</a>
          <a class="dropdown-link fa fa-caret-down" href="#"></a>
          <ul class="sub-menu dropdown-menu" style="display: block; height: 0px;">
            <li class="menu-item">
              <a href="attorneys.html">Attorneys</a>
            </li>
            <li class="menu-item">
              <a href="single-attorney.html">Single Attorney</a>
            </li>
            <li class="menu-item">
              <a href="testimonials.html">Testimonials</a>
            </li>
            <li class="menu-item">
              <a href="practices.html">Practices</a>
            </li>
            <li class="menu-item">
              <a href="gallery.html">Gallery</a>
            </li>
            <li class="menu-item">
              <a href="contact.html">Contact</a>
            </li>
            <li class="menu-item">
              <a href="faq.html">FAQ</a>
            </li>
            <li class="menu-item">
              <a href="error.html">404</a>
            </li>
          </ul>
        </li>
        <li><a href="news.html">News</a></li>
      </ul>
    </nav>
    <div id="bbx-contents-wrap" class="main-wrap" style="background-color:#262626-">
      <section id="main">
        <header class="bbx-head bbx-9x-padding-top bbx-4x-padding-bottom">
          <div class="bbx-header-content bbx-main-container">
            <div class="bbx-head-title-area">
              <h5 class="bbx-no-margin">News</h5>
            </div>
            <div class="bbx-headline-extra">
              <ul class="bbx-breadcrumbs">
                <li>You are here:</li>
                <li><a href="index.html">Home</a></li>
                <li class="current-page"><a href="news.html">News</a></li>
              </ul>
            </div>
          </div>
        </header>
        <div class="content-width-wrap"> <!-- Blog Loop & Single Posts -->
          <div class="bbx-row bbx-grid-4x-margin no-outter-padding">
            <div class="bbx-col-1-5"> <!-- Content -->
              <section class="bbx-builder-row bbx-4x-padding-bottom">
                <div class="section-content-width"> <!-- Element Width -->
                  <div class="bbx-row bbx-grid-4x-margin no-outter-padding">
                    <div class="bbx-col-1">
                      <div class="bbx-element-content">
                        <div class="bbx-row bbx-grid-4x-margin no-outter-padding">
                          <div class="bbx-col-1">
                            <article class="bbx-post-wrap bbx-animation-on-appear fade_up">
                              <div class="bbx-image-wrap">
                                <span class="bbx-image">
                                  <img src="images/1032x369.jpg" alt="image">
                                  <a href="images/1032x369.jpg" class="bbx-gallery-link bbx-photo-swipe"
                                                   data-bbx-photo-swipe-rel="home_blog"
                                                   data-origin-size="1032x369"><i class="fa fa-search"></i></a>
                                </span>
                                <!--
                                                * BbxPhotoSwipe
                                                *
                                                * Based on PhotoSwipe library by @dimsemenov
                                                *
                                                * @param string data-bbx-photo-swipe-rel Defines the group to select images from in the gallery
                                                * @param string data-origin-size In the format "widthXheight" defines the original size of the image
                                                -->
                                <a href="standard-blog-post.html" class="bbx-gallery-link bbx-post-link"><i class="fa fa-link"></i></a>
                                <div class="bbx-date-container bbx-date-container-dark">
                                  <span class="bbx-month">Jan</span>
                                  <span class="bbx-day">5</span>
                                </div>
                              </div>
                              <div class="bbx-post-content">
                                <h3><a class="bbx-dark-link" href="standard-blog-post.html">Standard Blog Post</a></h3>
                                <p class="transparent-text-black excerpt">Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque eu velit quis erat accumsan ultrices. Morbi rutrum odio dictum metus bibendum, non mollis est tincidunt. Donec dignissim massa non sem mollis, pharetra eleifend velit consecte</p>
                                <div class="bbx-meta-container">
                                  <a class="bbx-bullet-link bbx-dark-link" href="standard-blog-post.html">Read More <i class="fa fa-plus"></i></a>
                                  <p class="bbx-meta transparent-text-black bbx-block bbx-no-margin">
                                    <a href="#" class="bbx-dark-link transparent-dark"><i class="fa fa-user"></i> Sinote</a>
                                    <a href="#" class="bbx-dark-link transparent-dark"><i class="fa fa-comment"></i> 14 Comments</a>
                                  </p>
                                </div>
                              </div>
                            </article>
                            <article class="bbx-post-wrap bbx-gallery-post-format bbx-animation-on-appear fade_up">
                              <div class="bbx-image-wrap">
                                <div class="bbx-slider" data-simulate-touch="yes" data-effect="coverflow" data-calculate-height="yes">
                                  <!-- Swiper backgrounds (actual slides) -->
                                  <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                        <a href="#" class="bbx-image">
                                          <img src="images/672x408.jpg" alt="image">
                                        </a>
                                      </div>
                                      <div class="swiper-slide">
                                        <a href="#" class="bbx-image">
                                          <img src="images/672x408.jpg" alt="image">
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Swiper direction nav buttons -->
                                  <div class="bbx-arrow-nav swiper-direction-nav">
                                    <a href="#" class="arrow-nav arrow-nav-prev">
                                      <i class="fa fa-chevron-left"></i>
                                    </a>
                                    <a href="#" class="arrow-nav arrow-nav-next">
                                      <i class="fa fa-chevron-right"></i>
                                    </a>
                                  </div>
                                </div>
                                <div class="bbx-date-container bbx-date-container-dark">
                                  <span class="bbx-month">Jan</span>
                                  <span class="bbx-day">5</span>
                                </div>
                              </div>
                              <div class="bbx-post-content">
                                <h3><a class="bbx-dark-link" href="gallery-blog-post.html">Gallery Blog Post</a></h3>
                                <p class="transparent-text-black excerpt">Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque eu velit quis erat accumsan ultrices. Morbi rutrum odio dictum metus bibendum, non mollis est tincidunt. Donec dignissim massa non sem mollis, pharetra eleifend velit consecte</p>
                                <div class="bbx-meta-container">
                                  <a class="bbx-bullet-link bbx-dark-link" href="gallery-blog-post.html">Read More <i class="fa fa-plus"></i></a>
                                  <p class="bbx-meta transparent-text-black bbx-block bbx-no-margin">
                                    <a href="#" class="bbx-dark-link transparent-dark"><i class="fa fa-user"></i> Sinote</a>
                                    <a href="#" class="bbx-dark-link transparent-dark"><i class="fa fa-comment"></i> 14 Comments</a>
                                  </p>
                                </div>
                              </div>
                            </article>
                            <article class="bbx-post-wrap bbx-link-post-format bbx-dark-background bbx-animation-on-appear fade_up">
                              <a class="link-wrap" href="#">
                                <span class="link-post-label bbx-sergeant">All our Themes</span><br>
                                <span class="url-details">http://themeforest.net/user/Sinote/portfolio</span>
                              </a>
                              <span class="bbx-simple-box">
                                <i class="fa fa-link"></i>
                              </span>
                            </article>
                            <article class="bbx-post-wrap bbx-video-post-format bbx-animation-on-appear fade_up">
                              <div class="bbx-image-wrap bbx-self-hosted-video-container bbx-video"
                                                 data-video-url="http://antonibotev.com/templates/rely/videos/8-Sec-1080p.mp4"
                                                 data-video-mimetype="video/mp4">
                                <div class="bbx-image poster">
                                  <img src="images/1756x982.jpg" alt="image">
                                </div>
                                <a href="#" class="bbx-fancy-link bbx-fancy-box bbx-progress-button bbx-play-video">
                                  <span class="bbx-fancy-button-progress"><span class="progress-indicator"></span></span>
                                  <span class="fancy-text">
                                    <i class="fa fa-play"></i>
                                  </span>
                                </a>
                                <div class="the-video"></div>
                                <span class="bbx-video-progress"><span class="progress-indicator"></span></span>
                              </div>
                              <div class="bbx-post-content">
                                <h3><a class="bbx-dark-link" href="video-blog-post.html">Video Blog Post</a></h3>
                                <p class="transparent-text-black excerpt">Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque eu velit quis erat accumsan ultrices. Morbi rutrum odio dictum metus bibendum, non mollis est tincidunt. Donec dignissim massa non sem mollis, pharetra eleifend velit consecte</p>
                                <div class="bbx-meta-container">
                                  <a class="bbx-bullet-link bbx-dark-link" href="video-blog-post.html">Read More <i class="fa fa-plus"></i></a>
                                  <p class="bbx-meta transparent-text-black bbx-block bbx-no-margin">
                                    <a href="#" class="bbx-dark-link transparent-dark"><i class="fa fa-user"></i> Sinote</a>
                                    <a href="#" class="bbx-dark-link transparent-dark"><i class="fa fa-comment"></i> 14 Comments</a>
                                  </p>
                                </div>
                              </div>
                            </article>
                            <!--
                                         * Embedded video post format
                                        -->
                            <article class="bbx-post-wrap bbx-video-post-format bbx-animation-on-appear fade_up">
                              <div class="bbx-image-wrap">
                                <div class="bbx-video-embedded-container">
                                  <iframe src="http://player.vimeo.com/video/4749536?title=0&amp;byline=0&amp;portrait=0&amp;badge=0"></iframe>
                                </div>
                              </div>
                              <div class="bbx-post-content">
                                <h3><a class="bbx-dark-link" href="embedded-blog-post.html">Embedded Blog Post</a></h3>
                                <p class="transparent-text-black excerpt">Cras sollicitudin ullamcorper Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna simple link lectus, sagittis quis erat id, tempus suscipit ex. Maecenas in pulvinar est, vel feugiat nunc. Nullam non leo tellus. Suspendisse interdum...</p>
                                <div class="bbx-meta-container">
                                  <a class="bbx-bullet-link bbx-dark-link" href="#">Read More <i class="fa fa-plus"></i></a>
                                  <p class="bbx-meta transparent-text-black bbx-block bbx-no-margin">
                                    <a href="#" class="bbx-dark-link transparent-dark"><i class="fa fa-user"></i> Sinote</a>
                                    <a href="#" class="bbx-dark-link transparent-dark"><i class="fa fa-comment"></i> 14 Comments</a>
                                  </p>
                                </div>
                              </div>
                            </article>
                            <ul class="bbx-std-pagination">
                              <li><a href="#">1</a></li>
                              <li class="current"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">next</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="bbx-col-3">
              <div class="widget-wrap">
                <h5 class="bbx-sergeant transparent-text-black">Custom Text</h5>
                <span class="bbx-wide-divider-small-detail"></span>
                <div class="textwidget">
                  <p class="transparent-text-black">All theme effects have been <mark class="emerald">carefully</mark> thought through. Each effect has been fully tested and made sure compatible with the wholesome feel of the theme.</p>
                  <p>Vivamus auctor, ex ac finibus congue, libero purus facilisis nisi, sed <del>egestas ex ipsum id nisl</del>. Curabitur sed ipsum in lorem ultricies pharetra. Duis facilisis erat nulla. Etiam nulla dui, hendrerit quis dui a, aliquam tempor quam.</p>
                </div>
              </div>
              <div class="widget-wrap">
                <h5 class="bbx-sergeant transparent-text-black">Social Networks</h5>
                <span class="bbx-wide-divider-small-detail"></span>
                <a href="#" class="bbx-simple-social-link bbx-facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="bbx-simple-social-link bbx-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="bbx-simple-social-link bbx-google-plus">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
              <div class="widget-wrap">
                <h5 class="bbx-sergeant transparent-text-black">Recent Posts</h5>
                <span class="bbx-wide-divider-small-detail"></span>
                <ul>
                  <li>
                    <a href="standard-blog-post.html">Standard Post Format</a>
                    <span class="post-date">March 9, 2015</span>
                  </li>
                  <li>
                    <a href="#">Link Post Format</a>
                    <span class="post-date">March 9, 2015</span>
                  </li>
                  <li>
                    <a href="gallery-blog-post.html">Gallery Post Format</a>
                    <span class="post-date">March 9, 2015</span>
                  </li>
                  <li>
                    <a href="#">Quote Post Format</a>
                    <span class="post-date">March 9, 2015</span>
                  </li>
                  <li>
                    <a href="video-blog-post.html">Self Hosted Video Post Format</a>
                    <span class="post-date">March 9, 2015</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="bbx-4x-padding-bottom bbx-4x-padding-top bbx-dark-background">
        <div class="bbx-footer-content bbx-main-container">
          <div class="bbx-row bbx-grid-4x-margin no-outter-padding">
            <div class="bbx-col-3">
              <div class="widget-wrap">
                <p class="transparent-text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nisi tincidunt, molestie nunc vulputate, posuere mauris. Donec gravida augue eget risus.</p>
                <span class="bbx-sign">John Doe Sign</span>
              </div>
            </div>
            <div class="bbx-col-3">
              <div class="widget-wrap">
                <h5 class="bbx-sergeant">Our Firm</h5>
                <ul class="bbx-icon-list bbx-no-margin">
                  <li>
                    <i class="fa fa-user transparent-text-black"></i><strong><a href="#">Gregory Moreno</a></strong> <span class="transparent-text-black">/ Lawyer</span>
                  </li>
                  <li>
                    <i class="fa fa-user transparent-text-black"></i><strong><a href="#">Henry Sanders</a></strong> <span class="transparent-text-black">/ Lawyer</span>
                  </li>
                  <li>
                    <i class="fa fa-user transparent-text-black"></i><strong><a href="#">Ronald Lawrence</a></strong> <span class="transparent-text-black">/ Lawyer</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bbx-col-3">
              <div class="widget-wrap">
                <h5 class="bbx-sergeant">Stay Connected</h5>
                <ul class="bbx-icon-list bbx-no-margin">
                  <li><i class="fa fa-phone transparent-text-black"></i><strong>215-564-4312</strong></li>
                  <li><i class="fa fa-globe transparent-text-black"></i><span class="transparent-text-black">4743 Ridge Road Philadelphia, PA</span></li>
                  <li><i class="fa fa-envelope-o transparent-text-black"></i><span class="transparent-text-black">office@relytemplate.com</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="bbx-back-to-top bbx-fancy-link bbx-fancy-box">
          <span class="fancy-text">
            <i class="fa fa-chevron-up"></i>
          </span>
        </a>
      </footer>
      <div class="bbx-copyright">
        <div class="bbx-copyright-content">
          <ul class="footer-social-links">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
          <p class="transparent-text-white bbx-no-margin bbx-align-right">RELY By Antoni Sinote Botev & Evgeni Dimonni Dimov</p>
        </div>
      </div>
      <span class="bbx-left-border"></span>
      <span class="bbx-right-border"></span>
      <span class="top-layout-detail"></span>
      <span class="bottom-layout-detail"></span>
      <div id="bbx-loading-mask">
        <!--
                <div id="bbx-loader">
                    <div class="bbx-loader-icon"><i class="fa fa-balance-scale"></i></div>
                    <div class="bbx-loader-filler"></div>
                </div>
                 -->
      </div>
    </div>
    <!-- Bbx Fullscreen popup containers -->
    <div id="bbx-header-search-form-container" class="bbx-fullscreen-popup-container bbx-dark-background">
      <div class="bbx-popup-mask"></div>
      <div class="bbx-popup-content">
        <form method="get" action="/" class="search-form bbx-form">
          <p class="bbx-fancy-input">
            <!--<input class="bbx-search-input" type="text" name="s" placeholder="Search..." autocomplete="off">
                    <input type="submit" class="submit" value="Search">-->
            <label for="f__search">Search</label>
            <br>
            <span class="wpcf7-form-control-wrap your-name">
              <input id="f__search" type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </span>
          </p>
        </form>
      </div>
    </div>
    <div id="bbx-full-screen-contact-form-container" class="bbx-fullscreen-popup-container bbx-dark-background">
      <div class="bbx-popup-mask"></div>
      <div class="bbx-popup-content">
        <div class="bbx-row">
          <div class="bbx-col-1">
            <form action="components/mailer.php" accept-charset="UTF-8" class="bbx-form wpcf7-form bbx-corner-details visible-corners" method="post">
              <p class="bbx-fancy-input">
                <label for="f__name">Your Name (required)</label>
                <br>
                <span class="wpcf7-form-control-wrap your-name">
                  <input id="f__name" type="text" name="contact_form[name]" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name (required)">
                </span>
              </p>
              <p class="bbx-fancy-input">
                <label for="f__email">Your E-Mail (required)</label>
                <br>
                <span class="wpcf7-form-control-wrap your-name">
                  <input id="f__email" type="text" name="contact_form[email]" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your E-Mail (required)">
                </span>
              </p>
              <p class="bbx-2x-margin-bottom bbx-fancy-input">
                <label for="f__message">Your Message</label>
                <br>
                <span class="wpcf7-form-control-wrap your-message">
                  <textarea id="f__message" name="contact_form[message]" cols="40" rows="8" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message"></textarea>
                </span>
              </p>
              <!--
                            BbxProgessButton
                            
                            Display progress indicator button, triggered on click
                            
                            @param float data-halt  Sets the value to stop the progress to. Should be used only
                                                    if the button's status is planned to be triggered manually to 1
                                                    e.g. button.bbxProgressButton.setStatus(1)
                            -->
              <a href="#" class="bbx-fancy-link bbx-submit bbx-progress-button" data-halt="0.8">
                <span class="bbx-fancy-button-progress"><span class="progress-indicator"></span></span>
                <span class="fancy-text">
                  Send
                                </span>
              </a>
              <!--
                            Leave this (even if empty), as the javascript sending functions will expect this container
                            to display success/eror results
                            -->
              <p class="form-extra-info transparent-text-black form-results-container">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nisi tincidunt, molestie nunc vulputate
                            </p>
              <span class="bbx-top-left-detail"></span>
              <span class="bbx-top-right-detail"></span>
              <span class="bbx-bottom-right-detail"></span>
              <span class="bbx-bottom-left-detail"></span>
            </form>
                                </div>
        </div>
      </div>
    </div>
    <div id="bbx-full-screen-popup-sidebar-container" class="bbx-fullscreen-popup-container">
      <div class="bbx-popup-mask"></div>
      <div class="bbx-popup-content">
        <div class="widget-wrap">
          <ul class="bbx-popup-menu">
            <li class="bbx-animation-on-appear fade_up delay-1"><a href="index.html">Home</a></li>
            <li class="bbx-animation-on-appear fade_up delay-2"><a href="about-us.html">About Us</a></li>
            <li class="bbx-animation-on-appear fade_up delay-3"><a href="clients.html">Clients</a></li>
            <li class="bbx-animation-on-appear fade_up delay-4"><a href="#">Pages</a></li>
            <li class="bbx-animation-on-appear fade_up delay-5"><a href="news.html">News</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- PhotoSwipe gallery main container -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
          </button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
          </button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->

    <script src="javascripts/all.js" type="text/javascript"></script>
  </body>
</html>
